@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-brand-500/20 selection:text-brand-900 min-h-screen;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
